In [16]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"


# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df= pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [2]:
schools_total_df = school_data_complete_df["school_name"].nunique()
schools_total_df

15

In [3]:
total_students_df = school_data_complete_df["Student ID"].nunique()
total_students_df

39170

In [4]:
total_budget_df = school_data_df["budget"].sum()
total_budget_df

24649428

In [6]:
avg_maths_score_df = school_data_complete_df["math_score"].mean()
avg_maths_score_df

78.98537145774827

In [7]:
avg_reading_score_df = school_data_complete_df["reading_score"].mean()
avg_reading_score_df

81.87784018381414

In [37]:
passing_maths_df = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70]
number_passing_maths_df=passing_maths_df["Student ID"].count()
percentage_passing_maths_df = (number_passing_maths_df/total_students_df)*100
percentage_passing_maths_df

74.9808526933878

In [38]:
passing_reading_df = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70]
number_passing_reading_df=passing_reading_df["Student ID"].count()
percentage_passing_reading_df = (number_passing_reading_df/total_students_df)*100
percentage_passing_reading_df

85.80546336482001

In [44]:
passing_all_df = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)]["Student ID"].count()
passing_all_df

25528